* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  overflow-x: hidden;
}

.section-1 {
  width: 100vw;
  height: 40vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #863FE1;

  padding-left: 25px;

  overflow-x: hidden;
  overflow-y: hidden;
}

.container-slogan {
  width: 50vw;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.slogan-img {
  width: 550px;
}

.patas {
  width: 350px;
}

.wave-container {
  margin-top: -40px;

  background-color: #F1F1F1;
}

.title-container {
  width: 100%;
}

.title {
  font-size: 35px;
  font-family: 'Nunito Sans', sans-serif;
  overflow-y: hidden;

  margin-top: 15px;
  margin-bottom: 15px;
}

.section-2 {
  /* height: 60vh; */

  background-color: #F1F1F1;

  overflow-y: hidden;
  height: auto;
}

.cartao {
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}

.title-card {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #863FE1;

  color: #FFF;
  font-size: 25px;
  font-family: 'Nunito Sans', sans-serif;

}

.card-background {
  width: 100%;
  height: 270px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 25px;

  background-color: #EFDB6F;

}

.cartao img {
  width: 80px;
}

.link{
  width: 100px;
  display: flex;
  justify-content: center;
}

.card-button {
  width: 150px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #863FE1;

  border: none;
  border-radius: 15px;

  color: #FFF;
  font-size: 20px;

  cursor: pointer;
}

.section-3 {
  width: 100vw;
  height: auto;

  margin-top: 30px;
}

.produtos {
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  gap: 50px;

  margin-top: 15px;
  margin-bottom: 50px;

  padding-left: 35px;
  padding-right: 35px;
}