dj-database-url==1.0.0
Django==3.2.16
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
mysql-connector-python==8.0.29
Pillow==9.2.0
PyJWT==2.4.0
PyMySQL==1.0.2
pyOpenSSL==22.0.0
gunicorn
whitenoise
python-decouple
pymysql