.produto {
    width: 350px;
    height: 420px;
  
    display: flex;
    align-items: center;
    flex-direction: column;
  
    background-color: #FAFAFA;
  
    border-radius: 25px;
  
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .container-img {
    width: 170px;
    height: 170px;
  
    background-color: #A6A6A6;
  
    border-radius: 25px;
  
    margin-top: 25px;
  }
  
  .container-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  
    gap: 5px;
  
    margin-top: 15px;
  }
  
  .produto-name {
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
  
    text-align: left;
  }
  
  .produto-price {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #6C2DBE;
  
    text-align: left;
  }
  
  .produto-button {
    width: 180px;
    height: 40px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    gap: 10px;
  
    background-color: #EFDB6F;
  
    border: none;
    border-radius: 20px;
  
    margin-top: 15px;
  }
  
  .produto-button p {
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    
    color: #000;
  }
  
  .produto-button img {
    width: 35px;
  }