.container-agendamento{
  padding-left: 25px;
  padding-right: 25px;
}

.title-container {
  width: 100%;
}

.title {
  font-size: 35px;
  font-family: 'Nunito Sans', sans-serif;

  margin-top: 15px;
  margin-bottom: 15px;
}

.line {
  width: 100%;
  height: 1px;

  background-color: #863FE1;
}

.select-service { 
  width: 50vw;
}

.checkbox-container{
  width: 50vw;
  height: 15vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  overflow-y: hidden;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 15px;
}

.dividir {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.input2 {
  border: 2px solid #863FE1;
  border-radius: 10px;
  width: 281px;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.conclude-button {
  background-color: #EFDB6F;
  border: 0px;
  border-radius: 20px;
  padding: 7px 30px;
}

.cancel-button {
  background-color: #D1CFC4;
  border: 0px;
  border-radius: 20px;
  padding: 4px 22px;
  width: fit-content;
}