.container-login{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #CFCECE;

  overflow-x: hidden;
  overflow-y: hidden;
}

.container-logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
}

.container-logo h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 75px;

  color: #4051E1; 
}

.login-logo{
  width: 100%;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-form h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;

  color: #4051E1;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;

  margin-top: 50px;
}

.login-form input {
  width: 400px;
  height: 40px;

  border: none;
  background-color: #F1F1F1;
  
  border-radius: 10px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #000;

  padding-inline: 10px;
}

.login-form input {
  width: 400px;
  height: 40px;

  border: none;
  background-color: #F1F1F1;
  
  border-radius: 10px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #000;

  padding-inline: 10px;
}

.login-form input::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #000;
}

.login-form button{
  width: 200px;
  height: 60px;

  border: none;
  border-radius: 30px;

  color: #FFF;
  font-size: 25px;
  font-weight: bold;

  background-color: #4051E1;

  cursor: pointer;
}

.login-form button:hover{
  background-color: #B3BBFF;
}

@media (max-width: 800px) {
  .container-login{
    display: flex;
    flex-direction: column;
  }

  .login-logo{
    width: 75%;
  }

  .container-form h1{
    font-size: 50px;
  }
  
  .login-form{
    gap: 15px;
  
    margin-top: 20px;
  }
  
  .login-form input {
    width: 300px;
    height: 40px;
  }
  
  .login-form button{
    width: 200px;
    height: 60px;
  }

}