.container-tela-dados {
    width: 100vw;
    height: 100vh;

    background-color: #F1F1F1;
}

.title-container-tela-dados {
    width: 100%;

    margin-top: 25px;
    margin-bottom: 25px;

    padding-left: 20px;
    padding-right: 20px;
}

.options-container {
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding-left: 50px;
    padding-right: 50px;
}

.options-container h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
}

.options-container button {
    width: 80%;

    display: flex;
    justify-content: flex-start;

    border: none;

    cursor: pointer;

    margin-bottom: 5px;
}

.option-1 {
    width: 25%;

    border-bottom: 2.5px solid #863FE1;
}

.option-2 {
    width: 25%;

    border-bottom: 2.5px solid #863FE1;
}

.option-3 {
    width: 25%;

    border-bottom: 2.5px solid #863FE1;
}

.option-4 {
    width: 25%;

    border-bottom: 2.5px solid #863FE1;
}

.item-cart {
    width: 100vw;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 30px;
}

.no-scroll {
    height: 45px;
}

.no-scroll3 {
    height: 35px;
  }