{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}

<div class='container-login'>
    <div class='container-logo'>
        <h1>Petshop</h1>
        <img class='login-logo' src="{% static 'image/dog.png' %}" >
    </div>

    <div class='container-form'>
        <h1>Cadastro</h1>
        <form class='login-form' method='POST' action="">
            {% csrf_token %}
            <input name="username" type="text" placeholder="Nome">
            <input name="email" type="email" placeholder="Email">
            <input name="password" type="password" placeholder="Senha">

            <div>
                {% for message in messages %}
                    <h5 style="color: red;">{{message}}</h5>
                {% endfor %}
            </div>

            <button type="submit">Cadastro</button>
        </form>
    </div
</div>

{% endblock %}