*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  overflow-x: hidden;
}

.link {
  text-decoration: none;
  color: #000;
}

header{
  width: 100vw;
  height: 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #FFF;
}

.container-logo img {
  width: 200px;
}

.nav-bar, .nav-bar div{
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 15px;
}

.nav-bar p{
  font-family: 'Nunito Sans', sans-serif;
}

.icon-user{
  width: 45px;
  height: 45px;
}